<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('itcom/multidomain/domains') ?>"><?= e(trans('itcom.multidomain::lang.common.domains')) ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('itcom/multidomain/domains') ?>" class="btn btn-default"><?= e(trans('itcom.multidomain::lang.actions.return_to_list')) ?></a></p>

<?php endif ?>
