<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('itcom/multidomain/domains') ?>"><?= e(trans('itcom.multidomain::lang.common.domains')) ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('itcom.multidomain::lang.common.saving')) ?>"
                    class="btn btn-primary">
                    <?= e(trans('itcom.multidomain::lang.actions.save')) ?>
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= e(trans('itcom.multidomain::lang.common.saving')) ?>"
                    class="btn btn-default">
                    <?= e(trans('itcom.multidomain::lang.actions.save_close')) ?>
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="Deleting Domain..."
                    data-request-confirm="Delete this domain?">
                </button>
                <span class="btn-text">
                    или <a href="<?= Backend::url('itcom/multidomain/domains') ?>"><?= e(trans('itcom.multidomain::lang.actions.cancel')) ?></a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('itcom/multidomain/domains') ?>" class="btn btn-default"><?= e(trans('itcom.multidomain::lang.actions.return_to_list')) ?></a></p>

<?php endif ?>
