<div class="row">
    <div class="col-md-6">
        <h3>Описание доступных токенов</h3>
        <hr/>
        <h5><b>Основные</b></h5>
        <table class="table data">
            <thead>
            <tr>
                <th width="50%"><span>Токен</span></th>
                <th><span>Описание</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ domainToken.name }}</td>
                <td>Название региона</td>
            </tr>
            <tr>
                <td>{{ domainToken.url }}</td>
                <td>Url подомена</td>
            </tr>
            <tr>
                <td>{{ domainToken.phone1 }}</td>
                <td>Телефон основной</td>
            </tr>
            <tr>
                <td>{{ domainToken.phone2 }}</td>
                <td>Телефон дополнительный</td>
            </tr>
            <tr>
                <td>{{ domainToken.address }}</td>
                <td>Региональный адрес</td>
            </tr>
            <tr>
                <td>{{ domainToken.map }}</td>
                <td>Карта</td>
            </tr>
            </tbody>
        </table>

        <h5><b>Токены товара</b></h5>
        <table class="table data">
            <thead>
            <tr>
                <th width="50%"><span>Токен</span></th>
                <th><span>Описание</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ domainToken.product_name }}</td>
                <td>Название товара</td>
            </tr>
            <tr>
                <td>{{ domainToken.product_name_lower }}</td>
                <td>Название товара (в нижнем регистре)</td>
            </tr>
            <tr>
                <td>{{ domainToken.product_price }}</td>
                <td>Цена</td>
            </tr>
            <tr>
                <td>{{ domainToken.product_price_old }}</td>
                <td>Старая цена</td>
            </tr>
            <tr>
                <td>{{ domainToken.product_category_name }}</td>
                <td>Категория товара</td>
            </tr>
            <tr>
                <td>{{ domainToken.product_category_name_lower }}</td>
                <td>Категория товара (в нижнем регистре)</td>
            </tr>
            <tr>
                <td>{{ domainToken.product_category_parent_name }}</td>
                <td>Родительская категория товара</td>
            </tr>
            <tr>
                <td>{{ domainToken.product_category_parent_name_lower }}</td>
                <td>Родительская категория товара (в нижнем регистре)</td>
            </tr>
            <tr>
                <td>{{ domainToken.product_price_min }}</td>
                <td>Цена самого недорого товара в категории</td>
            </tr>
            </tbody>
        </table>

        <h5><b>Токены категорий</b></h5>
        <table class="table data">
            <thead>
            <tr>
                <th width="50%"><span>Токен</span></th>
                <th><span>Описание</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ domainToken.category_name }}</td>
                <td>Название категории</td>
            </tr>
            <tr>
                <td>{{ domainToken.category_name_lower }}</td>
                <td>Название категории (в нижнем регистре)</td>
            </tr>
            <tr>
                <td>{{ domainToken.category_parent_name }}</td>
                <td>Название родительской категории</td>
            </tr>
            <tr>
                <td>{{ domainToken.category_parent_name_lower }}</td>
                <td>Название родительской категории (в нижнем регистре)</td>
            </tr>
            <tr>
                <td>{{ domainToken.category_price_min }}</td>
                <td>Цена самого недорого товара в категории</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
