<?php use Itcom\Multidomain\Classes\DomainService; ?>

<?php if ($items = DomainService::getListDomains()): ?>

<div class="control-treeview treeview-light" id="extends_category">
    <ol>
        <?php foreach ($items as $item): ?>

        <li>
            <div class="">
                <a data-control="popup"
                   data-handler="onLoadExtendsCategoryContent"
                   data-size="large"
                   data-extra-data="domain_id: <?= $item->id ?>, domain_name: '<?= $item->name ?>'"
                   class="extends_category__item"
                   href="#"
                >
                    <span class="title">
                        <?= $item->name ?>
                    </span>
                    <span class="comment">
                        Изменение описания для региона
                    </span>
                </a>
            </div>
        </li>

        <?php endforeach ?>
    </ol>
</div>

<?php endif ?>