<form data-request="onSaveExtendsCategory">
    <input type="hidden" name="domain_id" value="<?= $domain_id ?>">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">×</button>
        <h4 class="modal-title">Изменение описания для региона, г. <?= $city ?></h4>
    </div>
    <div class="modal-body form-container">
        <div class="form-group textarea-field span-full">
            <label for="Form-field-Category-preview_text">Краткое описание</label>
            <textarea name="extendsCategory[preview_text]" id="" autocomplete="off"
                      class="form-control field-textarea size-large" placeholder=""><?= $preview_text ?></textarea>
        </div>

        <div class="form-group textarea-field span-full">
            <label for="Form-field-Category-preview_text">Описание</label>
            <div
                    id=""
                    class="field-richeditor size-giant "
                    data-editor-lang="ru"
                    data-toolbar-buttons="[bold,italic,underline,strikeThrough,subscript,superscript,fontFamily,fontSize,|,color,emoticons,inlineStyle,paragraphStyle,|,paragraphFormat,align,formatOL,formatUL,outdent,indent,quote,insertHR,insertLink,insertImage,insertVideo,insertAudio,insertFile,insertTable,undo,redo,clearFormatting,html,fullscreen]"
                    data-links-handler="formDescription::onLoadPageLinksForm"
                    data-ace-vendor-path="http://itcom-market.local/modules/backend/formwidgets/codeeditor/assets/vendor/ace"
                    placeholder=""
                    data-control="richeditor">
                <textarea name="extendsCategory[description]"
                          id="RichEditor-formDescription-textarea-description"><?= $description ?></textarea>
                <div class="height-indicator"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="popup">
            Применить
        </button>
        <button type="button" class="btn btn-default" data-dismiss="popup">
            Отмена
        </button>
    </div>
</form>